<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.qwicksoft.heremap" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>heremap</name><js-module name="heremap" src="www/heremap.js"><clobbers target="cordova.plugins.heremap" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="heremap"><param name="android-package" value="com.qwicksoft.heremap.heremap" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/heremap.java" target-dir="src/com/qwicksoft/heremap/heremap" /></platform></plugin>